<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <!-- 自定义参数 -->
	<property name="log.dir" value="${LOG_PATH}" />
	<property name="encoder.pattern" value="[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%logger{1}] - %msg%n" />
	<property name="encoder.charset" value="UTF-8" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${encoder.pattern}</pattern>
			<charset class="java.nio.charset.Charset">${encoder.charset}</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<appender name="INFO_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/info-%d{yyyyMMdd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${encoder.pattern}</pattern>
			<charset class="java.nio.charset.Charset">${encoder.charset}</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<File>${log.dir}/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/error-%d{yyyyMMdd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${encoder.pattern}</pattern>
			<charset class="java.nio.charset.Charset">${encoder.charset}</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>
	
	<root level="INFO">
	    <appender-ref ref="STDOUT" />
		<appender-ref ref="INFO_FILE" />
		<appender-ref ref="ERROR_FILE" />
	</root>

	<logger name="org.springframework.web" level="INFO" />

	<!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />  
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
</configuration>